<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="azeem">Azeem's Component Library</h1>
    <p>i am an Electronics Engineering student and I am trying to understand Computer Programming</p>
    <hr>
    <h2>@containers</h2>
    <h3>@fluid container</h3>
    <div class="contaner">This is a fluid container and it will go till the end f the page</div>
    <h3>Center container</h3>
    <div class="container container-center">This is a center container and this will go till the specified width</div>
    <hr>
    <h2>@links</h2>
    <a href="/" class="primary-link">Primary Button</a>
    <a href="/" class="secondary-link">Secondary Link</a>
    <hr>
    <h2>@lists</h2>
    <h3>Unordered Lists</h3>
    <p>This list will not have the bullet</p>


    <ul class="non-bullet">
        <li>First Item</li>
        <li>Second Item</li>
        <li>tHIRD Item</li>
    </ul>
    
    <h3>unordered inline list</h3>
    <ul class="non-bullet"> 
        <li class="list-item-inline">Inline Item One</li>
        <li class="list-item-inline">Inline Item Two</li>
        <li class="list-item-inline">Inline Item Three</li>
    </ul>

    <h3>Ordered List</h3>
    <ol>
        <li>Milk</li>
        <li>Eggs</li>
        <li>Break</li>

    </ol>
    <hr>

    <h2>@navigation</h2>
    <nav class="navigation container">
        <div class="nav-brand">I am Brand</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a href="/" class="link link-active">Home</a>
            </li>
            <li class="list-item-inline">
                <a href="/" class="link">Product</a>
            </li>
            <li class="list-item-inline">
                <a href="/" class="link">about</a>
            </li>
        </ul>
    </nav>

    <hr>

    <h2>@Header</h2>
    <header class="hacker">
        <img class="hacker-img" src="images/hacker-image.svg" alt="Hacker">
        <h1 class="hacker-heading">Heading inside <span style="color: black;">Hacker</span> </h1>
    </header>
    <hr>
    <h2>@section</h2>
    <section class="section">
        <div class="container container-center">
            <h1>White Section</h1>
            <p>This will have white background</p>
        </div>
        
    </section>
 <footer class="footer"
        <div class="footer-header">Some small heading inside footer</div>
        <ul class="social-links non-bullet">
            <li class="list-item-inline"><a class="footer link" href="/">social one</a></li>
            <li class="list-item-inline"><a class="footer link" href="/">social Two</a></li>
            <li class="list-item-inline"><a class="footer link" href="/">social Three</a></li>
        </ul>
    </footer>    <hr>
    <h2>@footer</h2>

   
</body>
</html>